h1{
    color:blue;
}
th{background-color: brown;}

*{
    margin: 0; /* (RESET)no queda espacio en el background*/
    padding: 0;

}

ul{             /*cambia el estilo a la lista square son cuadrados*/
    list-style: square;
}

ul li{   /*pone las listas de forma laterales*/
    display:  inline-block;
}

p{
    font-style: normal;
}

.negrita{  /*clase que pone letra negrita (se invoca class="negrita") */
    font-weight: bold;
    text-decoration: overline; /*subraya la linea*/
}

p{
    font-size: 200%; /*tamaño de la fuente*/
}

p{
    text-align: justify; /*sentra el texto*/
    line-height: 20px; /*espacio entre renglones*/
}

.fondo{ /*poner una imagen como fndo al texto*/
    background-image: url("");
}