*{
    margin: 0;
    padding: 0;
}



header, footer{
    background-color: aqua;
    padding: 50px;
}

main{
    display: flex;
}

nav {
    background-color: blueviolet;
    padding: 25px;
}

aside{
    background-color: yellow;
    padding: 25px;
    width: 15px;
}

article {
    background-color: gray;
}

footer{
    background-color: aqua;
}